# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Build directories
/screeninit/build
/build
/output
/release

# User additions
/data/aeskeydb.bin
/data/aeskeydb_.bin
/data/vram0.img
/data/vram0_.img
/zzz_backup
